<h1>Users</h1>
<%= form_with scope: 'users',
              url: import_users_path,
              data: { controller: 'user-import', action: 'submit->user-import#import' } do |form| %>
  <%= form.file_field :file,
                      required: true,
                      accept: 'text/csv' %>
  <%= form.submit 'Import' %>
<% end %>
<%= render 'success_info', count: nil %>
<%= render 'failed_info', count: nil, errors: nil %>
